asn1crypto==0.24.0
bcrypt==3.1.4
blinker==1.4
cffi==1.11.5
click==6.7
cryptography==2.2.2
Flask==0.12.2
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.3.2
Flask-User==0.6.20
Flask-WTF==0.14.2
idna==2.6
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
passlib==1.7.1
pycparser==2.18
pycryptodome==3.6.0
six==1.11.0
SQLAlchemy==1.2.6
Werkzeug==0.14.1
WTForms==2.1
